<header class="header">
  <div class="container">
    <div class="border-block header__container flex">
      <a href="#" class="header__link btn">Go back</a>
      <nav class="nav" title="Main navigation">
        <ul class="nav__list list-reset">
          <li class="nav__item list-reset"><a href="#" class="nav__link">Story</a></li>
          <li class="nav__item list-reset"><a href="#" class="nav__link">Shop</a></li>
          <li class="nav__item list-reset logo"><a href="#" class="nav__link"> <img src="img/svg/fire.svg" alt="logo"></a></li>
          <li class="nav__item list-reset"><a href="#" class="nav__link">Contact</a></li>
          <li class="nav__item list-reset"><a href="#" class="nav__link">Wholesale</a></li>
        </ul>
      </nav>
      <button class="header__button btn">Clone</button>
    </div>
  </div>
</header>
