<section class="hero">
  <div class="container">
    <div class="hero__container flex border-block">
    <div class="hero__right">
      <div class="hero__logo"><img src="img/svg/logo.svg" alt="imageLogo"></div>
      <div class="hero__strip ticker">
        <div class="ticker__wrapper">
        <div class="hero__text ticker__item">put some fire in your belly <img src="img/svg/pepper.svg" class="ticker__icon" alt="pepper" aria-hidden="true"></div>
        <div class="hero__text ticker__item">put some fire in your belly <img src="img/svg/pepper.svg" class="ticker__icon" alt="pepper" aria-hidden="true"></div>
        <div class="hero__text ticker__item">put some fire in your belly <img src="img/svg/pepper.svg" class="ticker__icon" alt="pepper" aria-hidden="true"></div>
      </div>
      </div>
      <div class="hero__right-photo"><img class="hero__padding" src="img/hero1.jpg" alt="heroPhoto"></div>
    </div>
    <div class="hero__left">
       <h2 class="hero__title-text">The first hot sauce made for coffee</h2>
      <div class="hero__left-photo"> <img class="hero__padding" src="img/hero2.jpg" alt="heroPhoto"></div>
    </div>
  </div>
  </div>
</section>
