<div class="ticker-bottom">
  <div class="container">
    <div class="ticker-bottom__strip ticker">
      <div class="ticker__wrapper">
        <div class="hero__text ticker__item">download our media kit
          <img src="img/svg/pepper.svg" class="ticker__icon" alt="pepper" aria-hidden="true">
          CONTACT FOR PARTNERSHIP OPPORTUNITIES
          <img src="img/svg/pepper.svg" class="ticker__icon" alt="pepper" aria-hidden="true">
        </div>
        <div class="hero__text ticker__item">download our media kit
          <img src="img/svg/pepper.svg" class="ticker__icon" alt="pepper" aria-hidden="true">
          CONTACT FOR PARTNERSHIP OPPORTUNITIES
          <img src="img/svg/pepper.svg" class="ticker__icon" alt="pepper" aria-hidden="true">
        </div>
        <div class="hero__text ticker__item">download our media kit
          <img src="img/svg/pepper.svg" class="ticker__icon" alt="pepper" aria-hidden="true">
          CONTACT FOR PARTNERSHIP OPPORTUNITIES
          <img src="img/svg/pepper.svg" class="ticker__icon" alt="pepper" aria-hidden="true">
        </div>
        <div class="hero__text ticker__item">download our media kit
          <img src="img/svg/pepper.svg" class="ticker__icon" alt="pepper" aria-hidden="true">
          CONTACT FOR PARTNERSHIP OPPORTUNITIES
          <img src="img/svg/pepper.svg" class="ticker__icon" alt="pepper" aria-hidden="true">
        </div>
      </div>
    </div>
</div>
</div>
