.btn{
  display: inline-block;
  border: none;
  background-color: var(--button-color);
  color: var(--light-color);
  padding: 15px 44px;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
